---
layout: page
title: 'Tags'
weight: 5
---

<p class="subtitle">from writings by {{ site.author }}</p>

{% assign tags = site.tags | sort %}

{%- if tags.size > 0 -%}
  {% for tag in tags %}
    <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
    <ul>
      {% for post in tag[1] %}
        <li>
          <p><a href="{{ post.url | relative_url }}">{{ post.title }}</a> — 
            <span style="font-style: italic">{{ post.date | date: "%B %-d, %Y" }}</span>
          </p>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
{%- else -%}
  <p>No tags found.</p>
{%- endif -%}
