---
layout: default
---
<h1>{{ page.title }}</h1>
{%- if page.subtitle %}
<p class="subtitle">{{ page.subtitle }}</p>
{% endif -%}
<p class="byline">
{% if site.show_author %}{{ page.author | default: site.author }} — {% endif %}
{{ page.date | date: "%B %-d, %Y" }}

{{ content }}

{%- if page.tags -%}
  <div class="meta-tags">
    <p class="post-tags">
      <strong><span class="tag-ornament">•</span> Tags</strong>:
      {% for tag in page.tags %}
        <a href="/tags#{{ tag | slugify }}" class="tag">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
      {% endfor %}
    </p>
  </div>
{%- endif -%}
</p>

<section>
  <div style="clear: both"></div>
  <p class="backarrow"><a href="{% link blog/index.md %}">← Back to all posts</a></p>
</section>
